@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*nav bar custom css*/

/*.navbar-light .navbar-nav .nav-link {
    color: #999;
    font-size: 30px;
    line-height: 0px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 50px;
}*/

